#form-agendamento {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    max-width: 400px;
  }
  
  #form-agendamento label {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  #form-agendamento input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  #form-agendamento button {
    margin-top: 10px;
  }

  #form-agendamento select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 10px;
  }